@import "../../../../variables";

.skills{
    padding: 2.5rem 1.5rem;
    background: $main-color-sand;
    &__wrapper{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 25px;
        max-width: 1200px;
        width: 100%;
        .skills__item{
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 7px;
            width: 270px;
            height: 300px;
            border-radius: 10px;
            background-color: $main-color-black;
            color: white;
            .skills__img{
                width: 90px;
                height: 90px;  
            }
            .skills__title{
                font-size: 28px;
                font-weight: 700;
                color: $main-color-green;
            }
            .skills__descr{
                display: flex;
                align-items: center;
                height: 100%;
                font-size: 14px;
                color: $main-color-grey;
            }
        }
    }
}