@import '../../variables';

.logo__wrapper{
   margin-bottom: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   a{   
       display: flex;
       align-items: center;
       text-decoration: none;
       transition: all .5s ease-in;
        img{
            width: 70px;
            height: 70px;
        }
        &:hover{
            cursor: pointer;
            transform: scale(1.1);
        }
   }

}