@import '../../variables';

.logo__wrapper{
   margin-bottom: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   a{
       text-decoration: none;
        svg{
            width: 60px;
            height: 60px;
            &:hover{
                cursor: pointer;
            }  
            g{
                &:hover{
                    fill: $main-color-green;
                    transition: all .6s ease;
                }  
            }
        }
   }

}