@import "../../../../variables";

.certificates{
    width: 100%;
    min-height: 400px;
    background: $main-color-sand;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    &__wrapper{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        gap: 20px;
        .certificates__item{   
            .item__img{
                max-width: 400px;
                max-height: 285px;
                overflow: hidden;
                border: $main-color-black 5px solid; 
                border-radius: 10px;     
                img{
                    width: 100%;
                    height: 100%;            
                }
            }
        }
    }


}